<section>
  <div class="container col-md-12">
    <div class="row">

      <div class="col-md-3">
        <div class="row-sm float-right">
          <label for="portfolio-name">Portfolio name</label>
          <select id="portfolio-name" class="fielddata" name="portfolio-name">
            <option value="" disabled select>Portfolio name</option>
            <option value="value1">Portfolio name 1</option>
            <option value="value2" >Portfolio name 2</option>
            <option value="value3">Portfolio name 3</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row-sm float-right">
          <label for="portfolio-strategies">Portfolio strategies</label>
          <select id="portfolio-strategies" class="fielddata" name="portfolio-strategies">
            <option value="" disabled select>Portfolio strategies</option>
            <option value="value1">Portfolio strategies 1</option>
            <option value="value2" >Portfolio strategies 2</option>
            <option value="value3">Portfolio strategies 3</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row-sm float-right">
          <label for="portfolios">Portfolios</label>
          <select id="portfolios" class="fielddata" name="portfolios">
            <option value="" disabled select>Portfolios</option>
            <option value="value1">Portfolios 1</option>
            <option value="value2" >Portfolios 2</option>
            <option value="value3">Portfolios 3</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row-sm float-right">
          <label for="exchange">Exchange</label>
          <select class="fielddata" name="exchange">
            <option value="" disabled select>Select exchange</option>
            <option value="value1">exchange 1</option>
            <option value="value2" >exchange 2</option>
            <option value="value3">exchange 3</option>
          </select>
        </div>
      </div>


    </div>
  </div>

  <div class="container col-md-12">
    <div class="row">

      <div class="col-md-3">
        <div class="row-sm float-right">
          <label for="symbol">Symbol</label>
          <select class="fielddata" name="symbol">
            <option value="" disabled select>Select symbol</option>
            <option value="value1">Symbol 1</option>
            <option value="value2">Symbol 2</option>
            <option value="value3">Symbol 3</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row-sm float-right">
          <label for="strategy">Strategy</label>
          <select class="fielddata" name="strategy">
            <option value="" disabled select>Select symbol</option>
            <option value="value1">Strategy 1</option>
            <option value="value2">Strategy 2</option>
            <option value="value3">Strategy 3</option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="row-sm float-right">
          <label for="timeframe">Timeframe</label>
          <select class="fielddata" name="timeframe">
            <option value="" disabled select>Select timeframe</option>
            <option value="value1">Timeframe 1</option>
            <option value="value2">Timeframe 2</option>
            <option value="value3">Timeframe 3</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="container col-md-12">

    <div class="row">
      <div class="col-md-3">
        <div class="row-sm float-right">
          <label for="start-date">Start date</label>
          <input class="fielddata" type="date" id="start-date"
            name="start-date" value="2023-01-03"
            min="2023-01-03" max="2024-12-31">
        </div>
      </div>

      <div class="col-md-3">
        <div class="row-sm float-right">
          <label for="end-date">End date</label>
          <input class="fielddata" type="date" id="end-date"
            name="start-date" value="2023-01-03"
            min="2023-01-03" max="2024-12-31">
        </div>
      </div>

      <div class="col-md-3">
        <div class="row-sm float-right">
          <label for="search-estrategy">Search estrategy</label>
          <input class="fielddata" type="text" placeholder="search-estrategy" id="search-estrategy">
        </div>
      </div>

      <button type="button" class="btn btn-sm btn-primary col-md-1">Search</button>
      <button type="button" class="btn btn-sm btn-info col-md-1">Show all</button>
    </div>
  </div>

  <div class="container col-md-12">

    <div class="row">
      <div class="col-md-2">
        <div class="row-sm float-right">
          <label for="initial-balance">Initial balance</label>
          <input class="fielddata w-xs" placeholder="0" type="number" id="initial-balance" name="initial-balance" min="0" max="100">
        </div>
      </div>
      <div class="col-md-2">
        <div class="row-sm float-right">
          <label for="size-order">Size by order</label>
          <input class="fielddata w-xs" placeholder="0" type="number" id="size-order" name="size-order" min="0" max="100">
        </div>
      </div>
      <div class="col-md-2">
        <div class="row-sm float-right">
          <label for="go-long">Go long</label>
          <input class="fielddata w-xs" placeholder="0" type="number" id="go-long" name="go-long" min="0" max="100">
        </div>
      </div>
      <div class="col-md-2">
        <div class="row-sm float-right">
          <label for="go-short">Go short</label>
          <input class="fielddata w-xs" placeholder="0" type="number" id="go-short" name="go-short" min="0" max="100">
        </div>
      </div>
      <div class="col-md-2">
        <div class="row-sm float-right">
          <label for="fee">Fee</label>
          <input class="fielddata w-xs" placeholder="0" type="number" id="fee" name="fee" min="0" max="100">
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-12">
    <button type="button" class="btn btn-sm btn-backtest col-md-1">Backtest portfolio</button>
    <button type="button" class="btn btn-sm btn-backtest col-md-1">Backtest strategy</button>
    <button type="button" class="btn btn-sm btn-success col-md-1">Add strategy</button>
    <button type="button" class="btn btn-sm btn-danger col-md-1">Delete strategy</button>
    <button type="button" class="btn btn-sm btn-save col-md-1">Save portfolio</button>
    <button type="button" class="btn btn-sm btn-search col-md-1">Load portfolio</button>
    <button type="button" class="btn btn-sm btn-danger col-md-1">Delete portfolio</button>
  </div>
</section>

<!-- <div>
  <section>
    <div class="container col-md-12">
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Portfolio name</mat-label>
        <input matInput placeholder="Portfolio name">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Portfolio strategies</mat-label>
        <input matInput placeholder="Portfolio strategies">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Portfolios</mat-label>
        <input matInput placeholder="Portfolios">
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="pickerEnd">
        <mat-datepicker-toggle matIconSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Exchange</mat-label>
        <input matInput placeholder="Exchange">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Symbol</mat-label>
        <input matInput placeholder="Symbol">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Strategy</mat-label>
        <input matInput placeholder="Strategy">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Search atrategy</mat-label>
        <input matInput placeholder="Search atrategy">
      </mat-form-field>
      <button type="button" class="btn btn-sm btn-search col-md-1">Search</button>
      <button type="button" class="btn btn-sm btn-show col-md-1">Show all</button>
    </div>
    <div class="col-md-12">
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Initial balance</mat-label>
        <input matInput placeholder="Initial balance">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Size by order</mat-label>
        <input matInput placeholder="Size by order">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Go long</mat-label>
        <input matInput placeholder="Go long">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>Go short</mat-label>
        <input matInput placeholder="Go short">
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-md-2 smaller-form-field">
        <mat-label>fee</mat-label>
        <input matInput placeholder="fee">
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <button type="button" class="btn btn-sm btn-backtest col-md-1">Backtest portfolio</button>
      <button type="button" class="btn btn-sm btn-backtest col-md-1">Backtest strategy</button>
      <button type="button" class="btn btn-sm btn-success col-md-1">Add strategy</button>
      <button type="button" class="btn btn-sm btn-danger col-md-1">Delete strategy</button>
      <button type="button" class="btn btn-sm btn-save col-md-1">Save portfolio</button>
      <button type="button" class="btn btn-sm btn-search col-md-1">Load portfolio</button>
      <button type="button" class="btn btn-sm btn-danger col-md-1">Delete portfolio</button>
    </div>
  </section>
</div> -->
