.btn {
  margin: 5px;
}

.btn-search {
  color: #ffffff;
  background-color: #0b2af3;
  border-color: #0b2af3;
}


.btn-save {
  color: #ffffff;
  background-color: #f38e0b;
  border-color: #f38e0b;
}

.field-checkbox{
  margin-left: 5px;
  margin-right: 5px;
}
