.btn-save {
  color: #ffffff;
  background-color: #0b2af3;
  border-color: #0b2af3;
}

.btn-statistics {
  color: #ffffff;
  background-color: #0b83f3;
  border-color: #0b83f3;
}

.btn-search {
  color: #ffffff;
  background-color: #0b2af3;
  border-color: #0b2af3;
}
